
html, body {
	margin:0;
	padding:0;
	height:100%;
	max-width: 100%;
    overflow-x: hidden;
}

.body-inner{
	min-height:100%;
	position:relative;
}
input:focus,
select:focus,
textarea:focus,
.button:focus { outline: none }

header {
    padding: 16px;
    background-color: #ffffff;
}

.footer-inner,
.header-inner {
    margin: 0 auto;
    max-width: 1024px;
}

footer {
    background-color: #d3d0cc;
    font-size: 10px;
    clear: both;
    padding:16px;
  	width:100%;
	position:absolute;
	bottom:0;
}

.footer-inner{
	color:  #7c7a77;
	font-size: 10px; 
	font-weight: 300;

}
body {
    *font-family: Trade Gothic™ Std Light;
    *font-family: RooneySans-Regular, 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;
    font-family: RooneySans-Medium, 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;
    *font-family: proxima-nova-1, proxima-nova-2, arial, helvetica, sans-serif;
    background-color: #ecebeb;
}

.main {
    margin: 0 auto;
    width: 1024px;
    min-height: 100%;   
	overflow:hidden;
}

.main-content { margin-top: 20px;margin-bottom:80px; }

.application-wrapper {
    border-top: 5px solid #939c51;
    overflow: hidden;
    width: 100%;
}

.primary {
    background-image: url('../images/background_productGroup.png');
    padding: 20px;
    display: inline-block;
    clear: both;
    color: #FFFFFF;
    *height: 200px;
    border-top: 1px solid silver;
    width: 100%;
    *overflow: hidden;
    box-sizing: border-box;
    min-height: 80px;
}

.col-wrapper { width: 100% }

.col0,
.col1 {
    width: 508px;
    *height: 506px;
    *background-color: #ffffff;
    display: inline;
}

.col0 {
    float: left;
    margin-right: 4px;
}

.col1 {
    float: right;
    margin-left: 4px;
}

.clear { clear: both }

.sub-item {
    *height: 100px;
    background-color: #FFFFFF;
    margin: 8px 0;
    padding: 20px;
}

.item-header {
    display: inline-block;
    width: 100%;
}

.item-header h3 {
    float: left;
    font-weight: 300;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

.col-wrapper .item-header h3 {
    float: left;
    color: #5c5c5c;
    font-size: 16px;
}

.primary .item-header h3 {
    color: #ffffff;
    font-size: 20px;
}

.item-header .button {
    text-decoration: none;
    float: right;
    *background: url(img/rock.png) no-repeat;
    border-width: 2px;
    border-color: #939c51;
    border-style: solid;
    width: 80px;
    font-size: 12px;
    *font-weight: 700;
    padding: 7px;
    text-align: left;
}

.col-wrapper .item-header .button {
    color: #939c51;
    background-image: url("../images/icon_download_white.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #ffffff;
}

.col-wrapper .item-header .button:hover {
    border-color: #a1ab4d;
    color: #a1ab4d;
    *background-color: #f1f4db;
}

.primary .item-header .button {
    background-color: #939c51;
    background-image: url("../images/icon_download_green.png");
    background-repeat: no-repeat;
    background-position: right center;
    color: #FFFFFF;
}

.primary .item-header .button:hover { background-color: #a1ab4d; border-color: #939c51; }

/*div.application-wrapper:last-child .primary .item-header .button,
.application-wrapper:last-child .primary .tabs,
.application-wrapper:last-child .primary .tabs-content { display: none }*/

.col-wrapper p,
.col-wrapper table tbody {
    color: #727272;
    font-weight: 400;
}

table { 
	width: 100%;
	margin-top:10px;
}

table th,
table td {
    padding: 4px;
    text-align: left;
}

table tr th:first-child,
table tr td:first-child { width: 30% }

table td { 
	text-transform: capitalize;
	font-size: 11px;
}

table tr {
    border-top: 1px solid #dedbd7;
    border-bottom: 1px solid #dedbd7;
}

.primary table{
	width:50%;
}

.primary table tr{
	border-top: 1px solid #a4b1c7;
    border-bottom: 1px solid #a4b1c7;
}

table thead th {
    font-weight: 400;
    font-size: 10px;
}

.col-wrapper table thead th{ color: #878787 }

.primary .tabs { color: #ffffff; }
.primary table thead th { color: #d9e2f1; }

/*TABS*/

.tabs {
    *width: 400px;
    float: none;
    list-style: none;
    position: relative;
    *margin: 80px 0 0 10px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: left;
    color: #b9b9b9;
    font-size: 11px;
}

.tabs-content {
    list-style: none;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.tabs li {
    float: left;
    display: block;
}

.tabs li:first-child { margin-right: 10px }

.tabs li:last-child { margin-left: 10px }

.tabs a {
    display: block;
    padding-left: 0px;
    padding: 14px 0;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tabs a.selected { color: #4364a0 }
.primary .tabs a{color:#d9e2f1;}
.primary .tabs a.selected { color: #ffffff; }
.primary .tabs-content{color:#d9e2f1;}
.tabs-content .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    *position: absolute;
    top: 53px;
    left: 0;
    background: red;
}